body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-image: url('https://i10.glitter-graphics.org/pub/92/92940xfnfelr2le.gif');
    background-attachment: fixed;
    background-size:contain;
}

h1, h3 {
    color: #140101;
}

.task-item { 
    border: 1px solid #0e0b0b; 
    margin: 10px 0; 
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(247, 55, 80);
}

.completed { 
    background-color: #050705; 
    border-left: 4px solid #07130a;
}